@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    opacity: 1;
    @content

  }
  ::-moz-placeholder {
    opacity: 1;
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

@mixin bg-rt($file, $type, $bgs: cover) {
  background-image:  url($file + '.' + $type);
  //background-size: $width $height;
  background-size: $bgs;
  @media (-webkit-min-device-pixel-ratio: 2) {
    & {
      background-image:  url($file + '@2x.' + $type);
      //-webkit-background-size: $width $height;
      -webkit-background-size: $bgs;
    }
  }
}

@mixin transition($property: all, $duration: .3s, $ease: linear) {
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
  -o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}

/*@mixin font-size($font-size){
  font-size: $font-size;
  font-size: ($font-size/$base-font)*1rem;
}*/

$df: 1440px;
$note: 1330px;
$tl: 1024px;
$tp: 768px;
$p7p: 425px;
$p7: 375px;
$p5: 320px;

$p7pl: 736px;
$landscape: landscape;
@mixin rt($media) {
  @if $media == p5 {
    @media only screen and (max-device-width: $p5) {
      @content;
    }
  } @else if $media == p7 {
    @media only screen and (max-device-width: $p7) {
      @content;
    }
  } @else if $media == p7p {
    @media only screen and (max-device-width: $p7p) {
      @content;
    }


  } @else if $media == tp {
    @media only screen and (max-width: $tp) {
      @content;
    }
  } @else if $media == tl {
    @media only screen and (max-width: $tl) {
      @content;
    }
  }@else if $media == df {
    @media only screen and (max-width: $df) {
      @content;
    }
  }
  @else if $media == note {
    @media only screen and (max-width: $note) {
      @content;
    }
  }

  @if $media == landscape_orient {
    @media only screen and (max-device-width: $p7pl) and (orientation: $landscape) {
      @content;
    }
  }
}




@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}