@import "reset";
@import "common";
@import "header";
@import "footer";


.cnt_main {
  padding-top: 100px;
  background-image: url(../img/main_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  overflow: hidden;
  margin-bottom: 95px;

  @include screen(1366px) {
    overflow: visible;
    position: relative;
    z-index: 100;
    margin-bottom: 40px;
    background-size: cover;
  }

  @include screen(767px) {
    padding-bottom: 25px;
  }

  .cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include screen(767px) {
      flex-direction: column;
    }

    .content {
      width: 60%;

      @include screen(767px) {
        width: 100%;
        padding-bottom: 30px;
      }
    }

    .pic {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include screen(767px) {
        width: 20%;
      }
    }
  }

  h1 {
    font-size: 45px;
    line-height: 1.4;
    font-weight: 700;
    white-space: pre-line;
    text-transform: uppercase;
    margin-bottom: 35px;

    @include screen(1366px) {
      white-space: normal;
      font-size: 37px;
    }

    @include screen(767px) {
      font-size: 26px;
    }

    @include screen(480px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  p {
    white-space: pre-line;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4;

    @include screen(1366px) {
      white-space: normal;
      font-size: 23px;
    }

    @include screen(767px) {
      font-size: 18px;
    }

    @include screen(480px) {
      font-size: 16px;
    }
  }

  img {
    margin-bottom: -50px;
    max-width: 350px;

    @include screen(767px) {
      max-width: 150px;
    }
  }
}

.card {
  &.card_content {
    background-color: #f4f4f4;
    background-image: url(../img/card_oval.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50%;

    .txt {
      padding: 10% 10% 2% 10%;

      @include screen(767px) {
        padding-bottom: 5%;
      }

      @include screen(480px) {
        padding: 6%;
      }
    }

    .card_title {
      color: #000000;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @include screen(480px) {
        font-size: 20px;
      }

      .num {
        margin-right: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6a4dc1;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40px;
        height: 40px;
        color: #fff;
        border-radius: 50%;
        font-size: 24px;
        font-weight: 600;

        @include screen(480px) {
          margin-right: 8%;
        }
      }

      .name {
        width: 100%;
        display: block;
      }
    }

    p {
      line-height: 1.4;
      font-size: 16px;
    }

    .rating_list {
      margin: 20px 20px 20px 0;

      .item {
        background-image: url(../img/Rectangle_02.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 21% 0 10%;
        color: #ffffff;
        margin-bottom: 20px;

        @include screen(480px) {
          min-height: 70px;
        }

        &:first-of-type {
          background-image: url(../img/Rectangle_01.png);

          .num {
            background-color: #4ed7e4;

            &:last-of-type {
              background-color: #ff7386;
            }
          }
        }

        &:last-of-type {
          margin-bottom: 0;
          background-image: url(../img/Rectangle_03.png);

          .num {
            background-color: #028a97;

            &:last-of-type {
              background-color: #b25561;
            }
          }
        }

        .name {
          font-size: 20px;
          font-weight: 600;
        }

        .num_list {
          align-self: stretch;
          display: flex;
        }

        .num {
          min-height: 90px;
          align-self: stretch;
          background-color: #219dc5;
          display: flex;
          align-items: center;
          padding: 0 18%;
          transform: skew(-20deg);

          @include screen(480px) {
            min-height: 70px;
            padding: 0 14%;
          }

          span {
            display: block;
            transform: skew(20deg);
            font-size: 24px;
            font-weight: 600;
          }

          &:last-of-type {
            background-color: #c85060;
          }
        }
      }
    }
  }

  &.card_form {
    background-image: url(../img/form_bg.png);
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .pic_cnt {
      display: flex;
      align-items: center;
      position: relative;
      min-height: 240px;
      margin-bottom: 30px;
      justify-content: space-between;

      @include screen(1366px) {
        min-height: 200px;
      }

      .pic {
        width: 45%;

        img {
          width: 180px;
        }

        &:last-of-type {
          width: 55%;
          position: relative;
          height: auto;

          img {
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-60%);
            width: 315px;
          }
        }
      }
    }

    .form {
      padding: 0 10%;
      color: #ffffff;
      display: flex;
      flex-direction: column;

      .form_title {
        font-size: 46px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 35px;

        @include screen(1366px) {
          font-size: 32px;
        }
      }

      p {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 30px;
      }
    }

    .input_group {
      width: 100%;
      margin-bottom: 30px;

      input {
        outline: 0;
        border: 0;
        height: 50px;
        border-radius: 4px;
        background-color: #ffffff;
        width: 100%;
        padding: 15px 25px;
        color: #000000;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 1px;

        &::placeholder {
          color: #858585;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    .btn {
      max-width: 320px;
      width: 100%;
      height: 70px;
      border-radius: 5px;
      border: 2px solid #ffffff;
      background-image: linear-gradient(135deg, #3023ae 0%, #c86dd7 100%);
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #ffffff;
      text-transform: uppercase;
      transition: box-shadow ease-in-out .3s;
      box-shadow: 0 20px 20px 1px rgba(#000000, .4);
      cursor: pointer;

      @include screen(480px) {
        max-width: 240px;
        height: 55px;
        font-size: 18px;
      }

      &:hover {
        box-shadow: 0 20px 20px 1px rgba(#000000, .1);
      }

      img {
        margin: 0 5%;
      }
    }
  }

  &.card_banner {
    background-position: bottom right, center center;
    background-size: 50%, cover;
    background-repeat: no-repeat, repeat;
    padding: 5% 10%;
    box-shadow: 0 26px 60px rgba(0, 0, 0, 0.24), 0 7px 8px rgba(0, 0, 0, 0.19);
    background-image: url(../img/undraw_winners_2yls.png), linear-gradient(135deg, #52e5e7 0%, #130cb7 100%);
    color: #ffffff;

    @include screen(767px) {
      padding: 5% 6%;
    }

    h2 {
      font-size: 72px;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 1.4;

      @include screen(767px) {
        font-size: 54px;
      }

      @include screen(480px) {
        font-size: 36px;
      }
    }

    p {
      white-space: pre-line;
      font-size: 30px;
      font-weight: 500;
      line-height: 1.4;
      margin-bottom: 75px;

      @include screen(767px) {
        white-space: normal;
        font-size: 24px;
        margin-bottom: 40px;
      }

      @include screen(480px) {
        font-size: 18px;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 390px;
      width: 100%;
      height: 70px;
      box-shadow: inset 0 1px 0 #ffffff;
      border-radius: 5px;
      border: 2px solid #000000;
      background-color: #ffffff;
      color: #000000;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all ease-in-out .3s;

      @include screen(767px) {
        max-width: 240px;
        height: 55px;
      }

      &:hover {
        background: #000000;
        color: #ffffff;
        box-shadow: none;
      }
    }
  }


  .card_link {
    background-image: url(../img/arrow.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 123px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
  }
}


//List grid
.cnt_list {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5em;
  margin-bottom: 90px;

  @include screen(1300px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 215px 175px 375px 125px 175px 480px;
    grid-gap: 2.5em;
  }

  @include screen(767px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));;
    grid-gap: 1em;
  }

  .item {
    @include screen(767px) {
      grid-column-start: 1 !important;
      grid-column-end: 2 !important;
    }
  }

  .item_1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;

    @include screen(1300px) {
      grid-row-end: 2;
    }

    @include screen(767px) {
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  .item_2 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;

    @include screen(1300px) {
      grid-column-start: 2;
      grid-column-end: 2;
    }

    @include screen(767px) {
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  .item_3 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;

    @include screen(1300px) {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-row-end: 4;
      grid-column-end: 2;
    }

    @include screen(767px) {
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  .item_4 {
    overflow: visible;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;

    @include screen(1300px) {
      grid-row-start: 3;
      grid-column-start: 2;
      grid-row-end: 6;
      grid-column-end: 3;
    }

    @include screen(767px) {
      grid-row-start: 4;
      grid-row-end: 5;
    }
  }

  .item_5 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;

    @include screen(1300px) {
      grid-row-start: 4;
      grid-column-start: 1;
      grid-row-end: 5;
      grid-column-end: 2;
    }

    @include screen(767px) {
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }

  .item_6 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 4;

    @include screen(1300px) {
      grid-row-start: 6;
      grid-column-start: 1;
      grid-row-end: 7;
      grid-column-end: 3;
    }

    @include screen(767px) {
      grid-row-start: 6;
      grid-row-end: 7;
    }
  }
}

