@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import "normalize.css";
@import "mixin";
@import "ui";

.header-block {
  z-index: 100;
  padding: 20px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .navigation {
    cursor: pointer;
  }
}

.main-block {
  @include bg-img-retina('../img/jpg/main_img', 'jpg');
  background-repeat: no-repeat;
  background-position: center center;
  .container {
    min-height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .main-block-description {
    position: relative;
    .arrow {
      position: absolute;
      top: calc(100% + 30px);
      right: 0;
    }
    h1 {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700;
      letter-spacing: 0.9px;
      text-align: center;
      color: $white;
    }
    p {
      font-size: 20px;
      letter-spacing: 0.4px;
      text-align: center;
      color: $white;
      margin-bottom: 85px;
    }
  }
  .to-bottom {
    margin: 190px 0 50px 0;
  }
}

.concentrate-block {
  padding-top: 70px;
  .concentrate-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 80px;
    .description-item {
      position: relative;
      width: 220px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &:first-of-type {
        .arrow-item {
          margin-top: 50px;
        }
      }
      &:nth-of-type(2) {
        .arrow-item {
          margin-top: 65px;
        }
      }

      .arrow-item {
        position: absolute;
        left: calc(100% - 25px);
        margin-top: 25px;

      }
      h3 {
        white-space: pre-line;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        color: rgb(238, 108, 77);
      }
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.4px;
        text-align: center;
        color: rgb(155, 155, 155);
      }
    }

  }
  .to-bottom-arrow {
    position: absolute;
    bottom: calc(100% - 20px);
  }
  .footer-btn {
    background-color: rgb(238, 108, 77);
    max-width: 300px;
    width: 100%;
    font-size: 18px;
    font-weight: 500; //------- ?
    line-height: 50px;
    letter-spacing: 0.2px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
  }
  --container-footer-color: rgb(74, 74, 74);

}

.reduces-test-block {
  padding-top: 70px;
  background-color: rgb(51, 51, 51);
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reduces-test-list-item {
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .reduces-test-item {
      width: 50%;
      &:nth-of-type(3){
        max-width: 500px;
        width: 100%;
        border-radius: 10px;
        background-color: rgba(163, 163, 163, 0.3);
        padding: 25px 50px;
        margin-top: 70px;
      }
      h3 {
        margin: 0 0 30px 0;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-align: left;
        color: $white;
        text-transform: uppercase;
      }
      h4 {
        margin: 0 0 20px 0;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgb(238, 108, 77);
      }
      ul {
        margin: 0;
        padding: 0;
      }
      .reduces-list{
        margin-bottom: 60px;
        li{
          list-style: none;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.3px;
          text-align: left;
          color: rgb(155, 155, 155);
          &:last-of-type {
            margin-top: 25px;
            display: inline-block;
            position: relative;

            padding-bottom: 5px;
            border-bottom: 3px solid rgb(238, 108, 77);

            &:before {
              content: '';
              display: block;
              width: 35px;
              height: 62px;
              position: absolute;
              right: calc(100% + 5px);
              bottom: 10px;
              background-image: url("../img/svg/reducers_arrow.svg");
              background-repeat: no-repeat;
            }
            &:after {
              content: '';
              display: block;
              width: 15px;
              height: 25px;
              position: absolute;
              right: 65px;
              bottom: 30px;
              background-image: url("../img/svg/reducers_arrow_02.svg");
              background-repeat: no-repeat;

            }
          }
        }
      }
      li {
        list-style: none;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        color: $white;

      }
      p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        color: $white;
      }
    }

  }
  --container-footer-color: rgb(238, 108, 77);

  .container-footer{
    p{
      margin: 0;
      font-size: 24px;
      font-weight: 500;
      line-height: 42px;
      letter-spacing: 1.6px;
      text-align: left;
      color: $white;
      margin-right: 30px;
    }

  }

}
