@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import "normalize.css";
@import "mixin";
@import "ui";

.header-block {
  z-index: 100;
  padding: 20px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .navigation {
    cursor: pointer;
  }
}

.main-block {
  @include bg-img-retina('../img/jpg/main_img', 'jpg');
  background-repeat: no-repeat;
  background-position: center center;
  @include rt(p6plus) {
    background-position: left top;
  }
  .container {
    min-height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    @include rt(p6plus) {
      min-height: 600px;
      padding-bottom: 50px;
      //background-color: rgba(255,0,255, 0.1);
    }
  }
  .main-block-description {
    position: relative;
    @include rt(p6plus) {
      max-width: 280px;
    }
    .arrow {
      position: absolute;
      top: calc(100% + 30px);
      right: 0;
      @include rt(p6plus) {
        display: none;
      }
    }
    h1 {
      text-transform: uppercase;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 0.9px;
      text-align: center;
      color: $white;
      @include rt(p6plus) {
        font-size: 36px;
      }
    }
    p {
      font-size: 20px;
      letter-spacing: 0.4px;
      text-align: center;
      color: $white;
      margin-bottom: 85px;
      @include rt(p6plus) {
        font-size: 18px;
        margin-bottom: 50px;
      }
    }
  }
  .to-bottom {
    margin: 190px 0 50px 0;
    @include rt(p6plus) {
      display: none;
    }
  }
}

.concentrate-block {
  padding-top: 70px;
  --left-quote-left-pos: -40px;
  --right-quote-right-pos: -30px;
  --right-quote-top-pos: 25px;
  @include rt(p6plus) {
    --left-quote-left-pos: 0;
    --left-quote-top-pos: -34px;
    --right-quote-right-pos: 0;
    --right-quote-top-pos: 100%;
  }
  .concentrate-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 80px;
    @include rt(p6plus) {
      align-items: center;
      flex-direction: column;
      //background-color: rgba(255, 255, 0, 0.5);
    }
    .description-item {
      position: relative;
      width: 220px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @include rt(p6plus) {

        margin-bottom: 170px;
        &:last-of-type {
          margin-bottom: 50px;
        }
      }
      &:first-of-type {
        .arrow-item {
          top: 50px;
          @include rt(p6plus) {
            top: calc(100% + 100px);
            left: calc(50% - 35px);
            transform: rotate(90deg) translateX(-50%);
          }
        }

      }
      &:nth-of-type(2) {
        .arrow-item {
          top: 65px;
          @include rt(p6plus) {
            top: calc(100% + 100px);
            left: calc(50% - 35px);
            transform: rotate(90deg) translateX(-50%);
          }
        }
      }

      .arrow-item {
        position: absolute;
        left: calc(100% - 25px);
        top: 25px;
        @include rt(p6plus) {
          top: calc(100% + 50px);
          left: calc(50%);
          transform: translateX(-50%);
        }

      }
      h3 {
        white-space: pre-line;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        color: rgb(238, 108, 77);
        margin: 25px 0 30px 0;
        @include rt(p6plus) {
          font-size: 18px;
          letter-spacing: 0.8px;
          margin: 25px 0 20px 0;
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.4px;
        text-align: center;
        color: rgb(155, 155, 155);
        margin: 0 0 15px 0;
        @include rt(p6plus) {
          margin: 0;
        }
      }
    }

  }
  .to-bottom-arrow {
    position: absolute;
    bottom: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
  }
  .footer-btn {
    background-color: rgb(238, 108, 77);
    max-width: 300px;
    width: 100%;
    font-size: 18px;
    font-weight: 500; //------- ?
    line-height: 50px;
    letter-spacing: 0.2px;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    @include transition();
    &:hover {
      color: rgb(238, 108, 77);
      background-color: $white;
    }
  }
  --container-footer-color: rgb(74, 74, 74);

}

.reduces-test-block {
  --left-quote-left-pos: -50px;
  --right-quote-right-pos: -40px;
  --right-quote-top-pos: 25px;
  padding-top: 70px;
  background-color: rgb(51, 51, 51);
  @include rt(p6plus) {
    --left-quote-left-pos: 0;
    --left-quote-top-pos: -34px;
    --right-quote-right-pos: 0;
    --right-quote-top-pos: calc(100% - 20px);
    .to-bottom {
      display: none;
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;

  }
  .reduces-main-img {
    width: 370px;
    @include rt(tp) {
      width: 100%;
      margin-bottom: 80px;
    }
  }
  .reduces-test-list-item {
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    @include rt(p6plus) {
      flex-direction: column;
    }
    .reduces-test-item {
      width: 50%;
      @include rt(p6plus) {
        width: 100%;

      }
      &:nth-of-type(3) {
        max-width: 500px;
        width: 100%;
        border-radius: 10px;
        background-color: rgba(163, 163, 163, 0.3);
        padding: 25px 50px;
        margin-top: 70px;
        @include rt(p6plus) {
          padding: 20px;
        }
      }
      h3 {
        margin: 0 0 30px 0;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.5px;
        text-align: left;
        color: $white;
        text-transform: uppercase;
        @include rt(p6plus) {
          font-size: 20px;
          letter-spacing: 0.4px;
          padding: 0 10px;
        }
      }
      h4 {
        margin: 0 0 20px 0;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgb(238, 108, 77);
      }
      ul {
        margin: 0;
        padding: 0;
      }
      .reduces-list {
        margin-bottom: 60px;
        padding: 0 10px;
        li {
          list-style: none;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.3px;
          text-align: left;
          color: rgb(155, 155, 155);
          &:last-of-type {
            margin-top: 25px;
            display: inline-block;
            position: relative;

            padding-bottom: 5px;
            border-bottom: 3px solid rgb(238, 108, 77);

            &:before {
              content: '';
              display: block;
              width: 35px;
              height: 62px;
              position: absolute;
              right: calc(100% + 5px);
              bottom: 10px;
              background-image: url("../img/svg/reducers_arrow.svg");
              background-repeat: no-repeat;
              @include rt(p6plus) {
                width: 29px;
                height: 51px;
                top: -38px;
                left: -25px;
                background-size: cover;
              }
            }
            &:after {
              content: '';
              display: block;
              width: 15px;
              height: 25px;
              position: absolute;
              right: 65px;
              bottom: 30px;
              background-image: url("../img/svg/reducers_arrow_02.svg");
              background-repeat: no-repeat;
              @include rt(p6plus) {

                top: -23px;
                right: 45px;
              }

            }
          }
        }
      }
      li {
        list-style: none;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        font-weight: 400;
        color: $white;

      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        color: $white;
      }
    }

  }
  --container-footer-color: rgb(238, 108, 77);
  .container-footer {
    p {
      margin: 0;
      font-size: 24px;
      font-weight: 400;
      line-height: 42px;
      letter-spacing: 1.6px;
      text-align: left;
      color: $white;
      margin-right: 30px;
      @include rt(p6plus) {
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 1.2px;
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

  }

}

.piplines-block {
  --left-quote-left-pos: -80px;
  --right-quote-right-pos: -80px;
  --right-quote-top-pos: 20px;
  max-width: 1020px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 100px;
  @include rt(p6plus) {
    padding-left: 20px;
    padding-right: 20px;
    --left-quote-left-pos: 0;
    --left-quote-top-pos: -34px;
    --right-quote-right-pos: 0;
    --right-quote-top-pos: 100%;
  }
  .pipline-img {
    margin-top: 70px;
    @include rt(p6plus) {
      display: none;
    }
  }
  .pipline-list-item {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    @include rt(p6plus) {
      background: url('../img/svg/pipline_img_moile.svg');
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 1020px;
      flex-direction: column;
      //background-color: rgba(0, 0, 255, 0.3);
      padding-top: 100px;
      max-width: 280px;
      margin: auto;
      margin-top: 40px;
    }

    /*@include rt(p6plus){
      display: none;
    }*/
    .pipline-item {
      width: 150px;
      margin-left: 80px;
      @include rt(p6plus) {
        margin-top: 60px;
        margin-left: 70px;
        margin-bottom: 10px;
        //background-color: #faf;
      }
      h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.4px;
        text-align: left;
        color: rgb(74, 74, 74);
      }
      p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: left;
        color: rgb(155, 155, 155);
      }
    }
  }
}

.what-we-done-block {
  --left-quote-left-pos: -80px;
  --right-quote-right-pos: -80px;
  --right-quote-top-pos: 25px;
  padding-top: 70px;
  background-color: rgb(51, 51, 51);
  padding-bottom: 130px;
  @include rt(p6plus) {
    --left-quote-left-pos: 0;
    --left-quote-top-pos: -34px;
    --right-quote-right-pos: 0;
    --right-quote-top-pos: 100%;
  }
  .what-we-do-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 70px;
    @include rt(p6plus) {
      flex-direction: column;
      align-items: center;
    }
    .what-we-do-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-basis: 250px;
      @include rt(p6plus) {
        flex-basis: auto;
        max-width: 250px;
        margin: 50px 0;
      }
      h3 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.5px;
        text-align: center;
        color: $white;
        margin: 0 0 35px 0;
        border-bottom: 3px solid rgb(238, 108, 77);
      }
      p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
        text-align: center;
        color: rgb(155, 155, 155);
        margin-bottom: 25px;
      }
      .btn-what-we-do {
        margin-top: 25px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: block;
        color: $white;
        text-decoration: none;
        border-radius: 10px;
        border: solid 2px $white;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.2px;
        @include transition();
        &:hover {
          background-color: $white;
          color: rgb(51, 51, 51);
        }
      }

    }
  }
}

.wanna-try-block {
  --left-quote-left-pos: -80px;
  --right-quote-right-pos: -80px;
  --right-quote-top-pos: 10px;
  background-color: $white;
  @include rt(p6plus) {
    --left-quote-left-pos: 0;
    --left-quote-top-pos: -34px;
    --right-quote-right-pos: 0;
    --right-quote-top-pos: 100%;
  }
  > .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 70px 0 50px 0;
    @include rt(p6plus) {
      padding: 100px 20px 200px 20px;
    }
    .block-quote {
      position: relative;
      h2 {
        margin-left: 180px;
        @include rt(p6plus) {
          margin-left: 0;
          width: 100%;
        }
      }
      .img-layer {
        position: absolute;
        left: calc(50% - 20px);
        transform: translateX(50%);
        bottom: calc(100% + 30px);
        @include rt(p6plus) {
          left: 50%;
          transform: translateX(-50%);
          bottom: calc(100% + 70px);
        }
      }
    }
  }
  .sub-footer-use {
    background-color: rgb(51, 51, 51);
    .container {
      padding-top: 50px;
      min-height: 300px;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      @include rt(p6plus) {
        min-height: 550px;
        padding-top: 320px;
        padding-bottom: 60px;
        //overflow: hidden;
      }
      .img-layer {
        position: absolute;
        bottom: 20px;
        left: -150px;
        width: 496px;
        height: 411px;
        @include bg-img-retina('../img/png/ot_134_c_1', 'png');
        background-position: center center;
        @include rt(p6plus) {
          width: 100%;
          bottom: auto;
          top: -150px;
          left: 0;
          right: 0;
          background-position: -150px 50%;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .arrow-layer {
        position: absolute;
        right: 100px;
        bottom: 30px;
        @include rt(p6plus) {
          display: none;
        }
      }
    }

  }

}

.footer {
  background-color: rgb(74, 74, 74);
  padding: 65px 0;
  .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include rt(p6plus) {
      align-items: center;
      flex-direction: column;
    }
    .footer-item {
      @include rt(p6plus) {
        margin-bottom: 40px;
        &:first-of-type {
          order: 2;
          margin-bottom: 0;
        }
        &:last-of-type {
          order: 1;
          text-align: center;
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      li {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.6px;
        text-align: left;
        color: $white;
        @include rt(p6plus) {
          text-align: center;
        }

        a {
          color: $white;
          display: flex;
          align-items: center;
          text-decoration: none;
          justify-content: space-between;
          &.mail-to {
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.4px;
            text-align: left;
            color: $white;
            @include rt(p6plus) {
              padding: 0 30px;
            }
          }
        }
        .join {
          margin-top: 15px;
          width: 200px;
          height: 35px;
          border: solid 1px $white;
          line-height: 35px;
          font-size: 16px;
          letter-spacing: 0.2px;
          text-align: center;
          color: $white;
          display: block;
          @include rt(p6plus) {
            width: 250px;
          }
        }
      }

    }
  }
}