$ff: 'Montserrat', sans-serif;

$white: #fff;
body {
  font-family: $ff;
  * {
    box-sizing: border-box;
  }
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.container-footer {
  background-color: var(--container-footer-color);
  position: relative;
  width: 100%;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include rt(tp){
    padding-left:20px;
    padding-right: 20px;
    flex-direction: column;
  }

}

.container-full {
  width: 100%;

}

.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  @include rt(tp){
    padding-left: 20px;
    padding-right: 20px;
    //outline: 1px solid blue;
  }

}

.btn {
  max-width: 300px;
  height: 50px;
  border-radius: 10px;
  outline: 0;
  border: 1px solid transparent;
}

.input-field {
  input {
    font-size: 18px;
    letter-spacing: 0.4px;
    color: $white;
    height: 50px;
    border-radius: 10px;
    border: solid 2px $white;
    width: 100%;
    padding: 15px 20px;
    background-color: transparent;
    &:focus {
      outline: 0;
    }
    @include rt(p6plus){
      font-size: 16px;
    }

  }
  @include placeholder {
    color: $white;
  }

}

//TITLES
.block-quote {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;

  h2 {
    white-space: pre-line;
    z-index: 50;
    position: relative;
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 2.1px;
    text-align: center;
    color: rgb(74, 74, 74);
    &.light-quote {
      &:before {
        background-image: url("../img/svg/invalid_name.svg");
      }
      &:after {
        background-image: url("../img/svg/invalid_name.svg");
      }
    }
    &.dark-quote {
      color: rgb(238, 108, 77);
      &:before {
        background-image: url("../img/svg/invalid_name_grey.svg");
      }
      &:after {
        background-image: url("../img/svg/invalid_name_grey.svg");
      }
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 54px;
      height: 35px;
      transform: rotate(180deg);
      z-index: 25;
      left: var(--left-quote-left-pos, 0);
      top: var(--left-quote-top-pos, 0);
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 54px;
      height: 35px;
      right: var(--right-quote-right-pos, 0);
      top: var(--right-quote-top-pos, 0);

    }
    @include rt(p6plus){
      font-size: 24px;
      line-height: 33px;
      letter-spacing: 1.6px;
    }
  }
}

.block-try {
  max-width: 666px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(163, 163, 163, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 27px;
  @include rt(p6plus){
    flex-wrap: wrap;
    padding: 20px 10px;
  }
  .input-field {
    flex-basis: 350px;
    @include rt(p6plus){
      flex-basis: 100%;
      margin-bottom: 30px;

    }
  }
  .go-email-btn {
    text-transform: uppercase;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(238, 108, 77);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;
    color: $white;
    @include transition();
    &:hover {
      background-color: $white;
      color: rgb(238, 108, 77);
    }

    @include rt(p6plus){
      //margin-left: 20px;
      color: green;
    }
  }
  span {
    font-size: 18px;
    letter-spacing: 0.4px;
    text-align: center;
    color: $white;
  }
  .go-github-btn {
    width: 70px;
    height: 50px;
    border-radius: 10px;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition();
    .github__btn {
      @include transition();
    }
    &:hover {
      background-color: transparent;
      border-color:$white;
      .github__btn {
        fill: rgb(255, 255, 255);
      }
    }

    @include rt(p6plus){
      //margin-right: 20px;
    }

  }

}