@import "../fonts/Bender/style.css";
@import "../fonts/HelveticaNeue/style.css";

$Bender: "Bender";
$Helv: 'HelveticaNeueCyr';
$white: #ffffff;
$black: #000000;

$ls: 1366px;
$tp: 768px;
$p7p: 420px;
$p7: 375px;
$p5: 320px;
$phone_land: 736px;
$landscape: landscape;
@mixin t($property: all, $duration: .3s, $ease: linear){
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
  -o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}
@mixin rt($media) {
  @if $media == p5 {
    @media only screen and (max-width: $p5) {
      @content;
    }
  } @else if $media == p7 {
    @media only screen and (max-width: $p7) {
      @content;
    }
  } @else if $media == p7p {
    @media only screen and (max-width: $p7p) {
      @content;
    }
  } @else if $media == tp {
    @media only screen and (max-width: $tp) {
      @content;
    }
  } @else if $media == ls {
    @media only screen and (max-width: $ls) {
      @content;
    }
  } @else if $media == desk_container {
    @media only screen and (max-width: $desk_container) {
      @content;
    }
  }

  @if $media == landscape_orient {
    @media only screen and (max-width: $phone_land) and (orientation: $landscape) {
      @content;
    }
  }
}

.container-full {

  max-width: 1920px;
  margin: auto;
  width: 100%;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  @media screen and (max-width: 1024px) {

    padding-left: 20px;
    padding-right: 20px;
  }

}