@import 'mixines';

.product-main-block {
  padding-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  //outline: 1px solid red;
  min-height: 700px;
  @include rt(p7p) {
    flex-direction: column;

    padding: 0;
  }
}

.product-slider-container {

  height: 100%;
  flex-basis: 100%;
  .product-slider {
    //min-height: 686px;
    width: 100%;
    .product-video {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;
      width: 100%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .flex-direction-nav {
      @include rt(p7p) {
        display: none;
      }
      .flex-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 72px;
        left: 0;
        width: 95px;
        height: 85px;
        background-color: rgba(102, 113, 115, 0.5);
        cursor: pointer;
        &:before {
          @include t();
          display: block;
          content: '';
          width: 25px;
          height: 25px;
          border-left: 8px solid $white;
          border-top: 8px solid $white;
          border-right: 0;
          border-bottom: 0;
          transform: rotate(-45deg);
        }
        &:hover {
          &:before {
            border-color: #ed6600;
          }
        }
      }
      .flex-next {
        @extend .flex-prev;
        right: 0;
        left: auto;
        &:before {

          border-left: 0;
          border-top: 0;
          border-right: 8px solid $white;
          border-bottom: 8px solid $white;
        }
      }
    }
    .flex-control-thumbs {
      max-height: 75px;
      -webkit-transition: max-height .5s ease-in-out;
      -moz-transition: max-height .5s ease-in-out;
      -ms-transition: max-height .5s ease-in-out;
      -o-transition: max-height .5s ease-in-out;
      transition: max-height .5s ease-in-out;
      &.show {
        max-height: 1000px;
      }
      li {
        width: 14.285714286%;
        float: left;
        height: 75px;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        @include rt(p7p) {
          width: 25%;
        }
        img {
          max-width: 100%;
          border-top: 3px solid $black;
          border-bottom: 3px solid $black;
          border-left: 1px solid $white;
          border-right: 1px solid $white;
          margin-bottom: 3px;
          opacity: 0.2;
          &.flex-active {
            opacity: 1;
            border-top: 3px solid #ed6600;
            border-bottom: 3px solid #ed6600;
          }
        }
      }
    }

  }

  .more-photo {
    padding-top: 10px;
    font-family: $Helv;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    @include rt(p7p) {
      padding-left: 20px;
    }
    &.show {
      .arrow {
        transform: rotate(180deg);
      }
    }
    p {
      margin: 0 5px;
      padding-top: 5px;
      font-size: 14px;
      span {
        color: #ed6600;
      }
    }
    .arrow {
      margin-left: 10px;

      //display: inline-block;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #ed6600;
    }

  }
}

.product-short-description-container {

  width: 350px;
  box-sizing: border-box;
  padding: 30px 20px 0 20px;
  @include rt(p7p){
    width: 100%;
  }
  ul {
    list-style: none;
    //margin: 0;
    padding: 0;
  }
  h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: $black;
    font-family: $Bender;
    margin: 0 0 30px 0;
  }
  .characteristic-list {
    //text-transform: uppercase;

    font-family: $Bender;
    color: $black;
    margin: 0 0 30px 0;
    li {
      font-size: 22px;
      font-weight: 700;
    }
  }
  .price-container {
    font-family: $Bender;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin: 0 0 30px 0;
    .title {
      p {
        margin: 0;
        padding: 5px 10px 0 0;
        font-size: 22px;
        font-weight: 700;
        color: $black;
      }
    }
    .price {

      p {
        font-family: $Bender;
        font-size: 30px;
        text-align: left;
        color: rgb(237, 102, 0);
        margin: 0 0 10px 0;
        display: flex;
        align-items: center;
      }
      .bitcoin {
        margin-left: 10px;
        background-image: url(../img/product/icom-b.png);
        width: 30px;
        height: 30px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
      }
    }
  }
  .color-container {
    display: flex;
    margin-bottom: 80px;
    li {
      margin-right: 50px;
    }
    .color_1 {
      &:after {
        background-color: #0000ff;
      }
    }
    .color_2 {
      &:after {
        background-color: #ff0000;
      }
    }
    .color_3 {
      &:after {
        background-color: #ffffff;
        border: 1px solid #999999;
      }
    }

    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
      position: relative;
      cursor: pointer;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {

    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: '';
      box-sizing: border-box;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 8px;
      left: 8px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    [type="radio"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 30px;
      border: 1px solid #999999;
      border-radius: 100%;
      background: #fff;
    }
  }
  .button-container {
    display: flex;
    .btn {
      width: 125px;
      //width: 100%;
      height: 35px;
      line-height: 35px;
      background-color: $white;
      //border: solid 1px rgb(127, 127, 127);
      text-align: center;
      font-size: 14px;
      font-family: $Bender;
      box-sizing: border-box;
      display: block;
      margin-right: 15px;
      @include t();
      cursor: pointer;
      &.buy-btn {
        border: 1px solid #ed6600;
        color: #ed6600;
        &:hover {
          background-color: #ed6600;
          color: $white;
        }
      }
      &.test-drive-btn {
        border: 1px solid #656464;
        color: #656464;
        &:hover {
          background-color: #656464;
          color: $white;
        }
      }

    }

  }
}

.product-characteristic-block {
  font-family: $Bender;
  padding: 30px 0;
  .tabs-list-link {
    margin: auto;
    max-width: 700px;
    .slides {
      width: 100% !important;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 11px;
        left: 16%;
        right: 16%;
        height: 1px;
        background-color: #c1c2c2;
      }

      li {
        cursor: pointer;
        display: flex !important;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: calc(100% / 3) !important;
        position: relative;
        min-height: 130px;
        &:before {
          content: '';
          display: block;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-color: #c1c2c2;
          position: absolute;
          bottom: 5px;
          left: 50%;
          transform: translateX(-50%);

        }

        &.flex-active-slide {
          &:before {
            background-color: #ed6600;
          }
          .active {
            fill: #ed6600;
            //flood-color: #ed6600;
          }
          feFlood {
            flood-color: #ed6600;
          }
          p {
            color: $black;
          }
        }
        svg {
          display: block;
          margin-bottom: 20px;
          feFlood {
            flood-color: #c1c2c2;
          }
        }
        p {
          color: #c1c2c2;
          font-size: 14px;
          margin-bottom: 30px;
        }
      }

    }
  }
  .tab-description {
    h2 {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
    }
    .description-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      .data-item {
        flex-basis: 25%;
        text-align: center;
        box-sizing: border-box;
        padding: 20px;
        @include rt(p7p) {
          flex-basis: 50%;
        }
        h3 {
          font-size: 14px;
        }
        p{
          font-size: 18px;
          color: #ed6600;
          margin: 0 0 5px 0;
        }
      }
    }
  }
}

.desc-block-1 {
  background-image: url("../img/product/660.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  @include rt(p7p) {
    background-size: cover;
  }
  .container {
    box-sizing: border-box;
    padding: 50px 0;
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @include rt(ls) {
      min-height: 700px;
    }
    @include rt(p7p) {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      min-height: 500px;
    }
    h2 {
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      color: #000000;
      font-family: $Bender;
      @include rt(p7p){
        font-size: 32px;
      }
    }
    p {
      text-align: center;
      white-space: pre-line;
      font-size: 16px;
      font-family: $Helv;
      color: $black;
    }
  }
}

.desc-block-2 {
  background-image: url("../img/product/png/621_2.png"), url("../img/product/658.jpg");
  background-position: 100px center, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  @include rt(ls) {
    background-position: left 50px, center center;
    background-repeat: no-repeat, no-repeat;
  }
  @include rt(p7p) {
    background-position: center 100px, bottom right;
    background-size: 600px, 800px;
  }

  .container {
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include rt(ls) {
      min-height: 700px;
    }
    @include rt(p7p) {
      padding-top: 100px;
      padding-bottom: 500px;
    }

    .description {
      max-width: 650px;
      @include rt(ls) {
        max-width: 550px;
      }
      h2 {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000000;
        font-family: $Bender;
        margin-bottom: 30px;
        @include rt(p7p){
          font-size: 32px;
        }
      }
      p {
        line-height: 24px;
        font-size: 16px;
        font-family: $Helv;
        color: $black;
      }

    }
  }
}

.desc-block-3 {
  background-image: url("../img/product/png/621_2.png"), url("../img/product/659.jpg");
  background-position: 120% center, -100px center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  @include rt(p7p) {
    padding-bottom: 150px;
    background-position: top center, bottom center;
    background-repeat: no-repeat, no-repeat;
    background-size: 800px, contain;
  }
  .container {
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include rt(ls) {
      min-height: 700px;
    }
    @include rt(p7p) {
      min-height: 800px;

    }
    .description {
      max-width: 650px;
      @include rt(ls) {
        max-width: 550px;
      }
      h2 {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
        color: #000000;
        font-family: $Bender;
        margin-bottom: 30px;
        @include rt(p7p){
          font-size: 32px;
        }
      }
      ul {
        padding-left: 15px;
      }
      li {
        line-height: 24px;
        font-size: 16px;
        font-family: $Helv;
        color: $black;
        margin-bottom: 20px;
      }
    }
  }
}

.desc-block-rate {
  padding-bottom: 250px;
  background-image: url(../img/product/rate_bg.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  .rate-list {
    display: flex;
    justify-content: space-between;
    @include rt(p7p) {
      flex-wrap: wrap;
    }
    .rate-item {
      max-width: 180px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      @include rt(p7) {
        max-width: none;
        width: 45%;
      }
      .rate-icon {
        outline: 1px solid royalblue;
      }
      .botle-cont {
        position: relative;
        height: 230px;
        width: 100%;
        box-sizing: border-box;
        border: 10px solid #e6e6e6;
        border-radius: 20px;
        span {
          border-radius: 0 0 10px 10px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          background-color: #ed6600;
        }
        margin-bottom: 10px;
      }

      .rate-btn {
        max-width: 125px;
        width: 100%;
        background-color: #e6e6e6;
        color: #ed6600;
        text-transform: uppercase;
        font-family: $Bender;
        font-size: 14px;
        font-weight: 700;
        height: 35px;
        line-height: 35px;
        border: 0;
        outline: 0;
        cursor: pointer;
        @include t();
        &:hover {
          background-color: #ed6600;
          color: $white;
        }
      }
    }
  }
}



.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: absolute;
  background-color: $white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3000;
  span{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-top: 20px;
    &:before{
      margin-bottom: 20px;
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      border: 8px solid #2f4f4f;
      border-radius: 50%;
      border-top: 8px solid #ed6600;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
