@import "mixines";


.header {
  position: fixed;
  bottom: calc(100% - 154px);
  transition: all ease-in-out .3s;
  padding-top: 188px;
  left: 0;
  right: 0;
  background-color: #fff;

  @include screen(767px) {
    position: relative;
    padding-top: 0;
    bottom: auto;
  }

  &.fixed_header {
    z-index: 300;
    bottom: calc(100% - 50px);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);

  }

  @include screen(767px) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 500;
  }

  a {
    text-decoration: none;
  }

  .header_top {
    background-color: #000;
    color: #ffffff;
    padding: rem(5px) 0;

    @include screen(767px) {
      display: none;
    }

    a {
      color: #ffffff;

    }

    .cnt {
      justify-content: space-between;
    }

  }

  .header_middle {
    position: relative;
    padding: rem(10px) 0;

    @include screen(767px) {
      padding: rem(7px) 0;
      background-color: #ffffff;
      padding-right: 40px;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
    }

    .column_logo {
      a {
        display: flex;
        align-items: center;
        width: 100%;
      }

      img {
        max-width: 400px;
        width: 100%;
        @include screen(767px) {
          width: 150px;
          max-width: none;
        }
      }

    }

    .column_phone {
      width: 100%;
      text-decoration: none;

      a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
      }

      .icc {
        margin-right: rem(15px);

      }

      span {
        font-size: rem(33px);
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.09;
        letter-spacing: normal;
        color: #041324;

        @include screen(1070px) {
          font-size: rem(18px);
        }
        @include screen(767px) {
          display: none;
        }
      }
    }

    .column_location {
      width: 100%;
      @include screen(767px) {
        display: none;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .icc {
        margin-right: rem(15px);

      }

      span {
        font-size: rem(16px);
        font-weight: 300;
        line-height: 1.44;
        color: #333333

      }
    }

    .nav_button {
      display: none;
      padding-left: 50px;
      padding-right: 10px;
      position: absolute;
      right: 0;
      height: 45px;
      overflow: hidden;
      align-items: center;
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      @include screen(767px) {
        display: block;
      }


        span {
        @include screen(980px) {
          display: none;
        }
      }

      .ham {
        position: absolute;
        left: -5px;
        top: 50%;
        transform: translateY(-50%) rotate(0);

        &.active {
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }

  .header_bottom {
    background-color: #88b04b;
    padding: rem(8px) 0;
    @include screen(767px) {
      width: 100%;
      position: fixed;
      top: 55px;
      left: 0;
      right: 0;
      bottom: 0;
      //z-index: 300;

      height: 0;
      opacity: 0;
      overflow: hidden;
      z-index: -1;
      display: flex;

      &.in {
        transition: all .3s ease-in-out;
        opacity: 1;
        height: calc(100% - 55px);
        position: fixed;
        top: 55px;
        bottom: 0;
        left: 0;
        right: 0;
        //background-color: #fff;
        z-index: 1000;
      }
    }
    //display: flex;
    .cnt {
      @include screen(767px) {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
      }
    }

    .navv {
      justify-content: space-between;
      align-items: center;
      display: flex;
      width: 100%;
      @include screen(767px) {
        flex-direction: column;
        justify-content: space-around;
        height: 60%;
      }

      a {
        font-size: rem(18px);
        font-weight: 900;
        color: #ffffff;
        transition: all ease-in-out .3s;
        border-bottom: 2px solid transparent;

        @include screen(1070px) {
          font-size: rem(16px);
        }

        &:hover {
          border-bottom-color: #ffffff;
        }


      }

    }
    .mobile_languages {
      display: none;
      @include screen(767px) {
        display: flex;
        align-items: center;
        margin: 0 auto;
        border-top: 1px solid #fff;
        padding-top: 20px;
        li{
          &.current-lang{
            a{
              background-color: #000;
            }
          }
          a{
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
            padding: 5px;

          }
        }

      }
    }
    .bttn {
      margin-left: 30px;
      color: #fff;
      max-width: 200px;
      width: 100%;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      height: rem(35px);
      padding: 0 rem(20px);
      transition: opacity ease-in-out .3s;
      border: 0;
      @include screen(767px) {
        margin: 0 auto;
      }

      &:hover {
        text-decoration: none;
        opacity: .6;
      }

    }
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}


.footer {
  .footer__top {
    background-color: #000;
    padding: rem(30px) 0;

    .foot_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include screen(980px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

      ul {
        display: flex;
        align-items: center;
        @include screen(960px) {
          margin: rem(20px) 0;
        }

        &:first-of-type {
          display: flex;
          align-items: flex-start;
          @include screen(767px) {
            flex-direction: column;
            width: 100%;
            max-width: 400px;
          }
        }

        &.left {
          li {
            margin-right: rem(30px);
          }
        }

        &.right {
          li {
            margin-left: rem(30px);
            @include screen(500px) {
              margin: 0 rem(10px);
            }
          }
        }

        a {
          font-size: rem(19px);
          text-decoration: none;
          line-height: 1.89;
          color: #ffffff;
        }

        img {
          display: block;
        }
      }

    }

  }

  .footer__bottom {
    padding: rem(15px) 0;

    .cnt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include screen(700px) {
        flex-direction: column;
      }

      a {
        color: #000;
        display: inline-block;
        padding: rem(10px);
        font-weight: 500;
        @include screen(700px) {
          margin: rem(20px);
        }
        @include screen(700px) {
          margin: rem(10px) rem(5px);
        }

        &:last-of-type {
          margin-left: rem(20px);
          text-decoration: none;
          background-color: rgba(188, 50, 44, 0.7);;
          color: #fff;
        }
      }
    }

  }
}