@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import "reset";
@import "header";

body {
  //position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }
}

$white: #ffffff;


.cnt {
  max-width: 1640px;
  width: 100%;
  margin: auto;

  @include screen(1680px) {
    padding: 0 20px;
  }

  @include screen(767px) {
    padding: 0 10px;
  }
}

.cnt_full {
  width: 100%;
}


b {
  font-weight: 700;
}

img {
  max-width: 100%;
}

.main_header {
  //height: 100px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  overflow: hidden;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);


  .cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //background-color: #ffffff;
    height: 100px;
    @include screen(1024px) {
      height: 75px;
    }
  }

  a {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 3.82px;
  }

  .main_logo {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: #1b242b;
      font-size: 35px;
      font-weight: 700;
      @include screen(1300px) {
        font-size: 28px;
      }

      @include screen(480px) {
        display: none;
      }

    }
  }

  .main_navigation {
    display: flex;
    align-items: center;
    @include screen(1023px) {
      display: none;
    }
    @include screen(1023px) {
      width: 100%;
      position: fixed;
      top: 75px;
      left: 0;
      right: 0;
      bottom: 0;
      //z-index: 300;
      background-color: #ffffff;
      height: 0;
      opacity: 0;
      overflow: hidden;
      z-index: -1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 50px 0;

      &.in {
        transition: all .3s ease-in-out;
        opacity: 1;
        height: calc(100% - 75px);
        position: fixed;
        top: 75px;
        bottom: 0;
        left: 0;
        right: 0;
        //background-color: #fff;
        z-index: 1000;
      }
    }

    a {
      position: relative;
      padding: 0 17%;
      text-transform: uppercase;
      display: block;
@include screen(1023px){
  padding: 0;
}

      &.active {
        &:after {
          height: 20px;
        }
      }

      &:after {
        transition: height ease-in-out .3s;
        content: '';
        display: block;
        width: 5px;
        position: absolute;
        bottom: -43px;
        //top: 10px;
        height: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #9013fe;
        @include screen(1023px){
          display: none;
        }
      }


      &:hover {
        &:after {
          height: 20px;
        }
      }


    }
  }

  .main_phone {
    @include screen(1300px) {
      display: none;
    }

    @include screen(1023px) {
      display: block;
      font-size: 10px;
    }
  }
}

main {
  overflow: hidden;
}

.cnt_main {
  padding-top: 100px;
  background-image: url(../img/main_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  color: #ffffff;
  overflow: hidden;
  margin-bottom: 95px;
  @include screen(1366px) {
    overflow: visible;
    position: relative;
    z-index: 100;
    margin-bottom: 40px;
    background-size: cover;
  }

  @include screen(767px) {
    padding-bottom: 25px;
  }

  .cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;


    @include screen(767px) {
      flex-direction: column;
    }

    .content {
      width: 60%;
      @include screen(767px) {
        width: 100%;
        padding-bottom: 30px;
      }
    }

    .pic {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include screen(767px) {
        width: 20%;

      }
    }

  }

  h1 {
    font-size: rem(45px);
    line-height: 1.4;
    font-weight: 700;
    white-space: pre-line;
    text-transform: uppercase;
    margin-bottom: 35px;
    @include screen(1366px) {
      white-space: normal;
      font-size: 37px;
    }

    @include screen(767px) {
      font-size: 26px;
    }

    @include screen(480px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  p {
    white-space: pre-line;
    font-size: rem(28px);
    font-weight: 600;
    line-height: 1.4;
    @include screen(1366px) {
      white-space: normal;
      font-size: 23px;
    }

    @include screen(767px) {
      font-size: 18px;
    }

    @include screen(480px) {
      font-size: 16px;
    }
  }

  img {
    margin-bottom: -50px;
    //position: absolute;
    //bottom: -50px;
    max-width: 350px;
    @include screen(767px) {
      max-width: 150px;
      //position: absolute;
      //bottom: -30px;
      //margin-bottom: -100px;
    }
  }
}


.card {

  &.card_content {
    background-color: #f4f4f4;
    background-image: url(../img/card_oval.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50%;
    //padding-bottom: 10%;
    //padding: 50px 50px 25px 50px;
    //padding: 3.125em 3.125em 1.563em 3.125em;
    //padding: rem(50px) rem(50px) rem(25px) rem(50px)
    .txt {
      padding: 10% 10% 2% 10%;
      @include screen(767px) {
        padding-bottom: 5%;
      }

      @include screen(480px) {

        padding: 6%;
      }
    }

    .card_title {
      color: #000000;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include screen(480px) {
        font-size: 20px;

      }

      .num {
        margin-right: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #6a4dc1;
        //width: 40px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40px;
        height: 40px;
        color: #fff;
        border-radius: 50%;
        font-size: 24px;
        font-weight: 600;
        @include screen(480px) {
          margin-right: 8%;
        }
      }

      .name {
        width: 100%;
        display: block;
      }
    }

    p {
      line-height: 1.4;
      font-size: 16px;
      //margin-bottom: 25px;
    }

    .rating_list {
      //outline: 1px solid red;
      //margin-left: -15%;
      margin: 20px 20px 20px 0;

      .item {
        background-image: url(../img/Rectangle_02.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 21% 0 10%;
        color: #ffffff;
        margin-bottom: 20px;

        @include screen(480px) {
          min-height: 70px;
        }

        &:first-of-type {
          background-image: url(../img/Rectangle_01.png);

          .num {
            background-color: #4ed7e4;

            &:last-of-type {
              background-color: #ff7386;
            }
          }
        }

        &:last-of-type {
          margin-bottom: 0;
          background-image: url(../img/Rectangle_03.png);

          .num {
            background-color: #028a97;

            &:last-of-type {
              background-color: #b25561;
            }
          }
        }

        .name {
          //background-color: #faf;
          font-size: 20px;

          font-weight: 600;
        }

        .num_list {
          align-self: stretch;
          display: flex;


        }

        .num {
          min-height: 90px;
          align-self: stretch;
          background-color: #219dc5;
          display: flex;
          align-items: center;
          padding: 0 18%;
          transform: skew(-20deg);
          @include screen(480px) {
            min-height: 70px;
            padding: 0 14%;
          }

          span {
            display: block;
            transform: skew(20deg);
            font-size: 24px;
            font-weight: 600;
          }

          &:last-of-type {
            background-color: #c85060;
          }
        }
      }
    }
  }

  &.card_form {
    background-image: url(../img/form_bg.png);
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .pic_cnt {
      display: flex;
      align-items: center;
      position: relative;
      min-height: 240px;
      margin-bottom: 30px;
      justify-content: space-between;

      @include screen(1366px) {
        min-height: 200px;
      }

      .pic {
        width: 45%;
        outline: 2px solid yellow;

        img {
          width: 180px;
          //width: 100%;
        }

        &:last-of-type {
          width: 55%;
          position: relative;
          height: auto;

          img {
            position: absolute;
            right: -20px;
            top: 50%;
            transform: translateY(-60%);
            width: 315px;
          }
        }
      }


      img {
        //max-width: 180px;

        &:last-of-type {
          //position: absolute;
          //right: -20px;
          //max-width: 315px;
          //width: 100%;
          //display: block;
          //@include screen(1300px){
          //  max-width: 225px;
          //}
        }
      }
    }

    .form {
      outline: 1px solid green;
      padding: 0 10%;
      color: #ffffff;
      display: flex;
      flex-direction: column;

      .form_title {
        font-size: rem(46px);
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 35px;

        @include screen(1366px) {
          font-size: 32px;
        }
      }

      p {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 30px;
      }
    }

    .input_group {
      width: 100%;
      margin-bottom: 30px;

      input {
        outline: 0;
        border: 0;
        height: 50px;
        border-radius: 4px;
        background-color: #ffffff;
        width: 100%;
        padding: 15px 25px;
        color: #000000;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 1px;

        &::placeholder {
          color: #858585;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    .btn {
      max-width: 320px;
      width: 100%;
      height: 70px;
      border-radius: 5px;
      border: 2px solid #ffffff;
      background-image: linear-gradient(135deg, #3023ae 0%, #c86dd7 100%);
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      color: #ffffff;
      text-transform: uppercase;
      transition: box-shadow ease-in-out .3s;
      box-shadow: 0 20px 20px 1px rgba(#000000, .4);
      cursor: pointer;

      @include screen(480px) {
        max-width: 240px;
        height: 55px;
        font-size: 18px;
      }

      &:hover {
        box-shadow: 0 20px 20px 1px rgba(#000000, .1);
      }

      img {
        margin: 0 5%;
      }
    }
  }

  &.card_banner {
    background-position: bottom right, center center;
    background-size: 50%, cover;
    background-repeat: no-repeat, repeat;
    padding: 5% 10%;
    box-shadow: 0 26px 60px rgba(0, 0, 0, 0.24), 0 7px 8px rgba(0, 0, 0, 0.19);
    background-image: url(../img/undraw_winners_2yls.png), linear-gradient(135deg, #52e5e7 0%, #130cb7 100%);
    color: #ffffff;
    @include screen(767px) {
      padding: 5% 6%;
    }

    h2 {
      font-size: 72px;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 1.4;
      @include screen(767px) {
        font-size: 54px;
      }

      @include screen(480px) {
        font-size: 36px;
      }
    }

    p {
      white-space: pre-line;
      font-size: 30px;
      font-weight: 500;
      line-height: 1.4;
      margin-bottom: 75px;

      @include screen(767px) {
        white-space: normal;
        font-size: 24px;
        margin-bottom: 40px;
      }
      @include screen(480px) {
        font-size: 18px;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 390px;
      width: 100%;
      height: 70px;
      box-shadow: inset 0 1px 0 #ffffff;
      border-radius: 5px;
      border: 2px solid #000000;
      background-color: #ffffff;
      color: #000000;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all ease-in-out .3s;
      @include screen(767px) {
        max-width: 240px;
        height: 55px;
      }

      &:hover {
        background: #000000;
        color: #ffffff;
        box-shadow: none;

      }
    }
  }


  .card_link {
    background-image: url(../img/arrow.png);
    //background-color: transparent;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 123px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    font-size: 31px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    //box-shadow: 5px 5px 5px 5px #BFBFBF;
  }

}


.cnt_list {
  outline: 1px solid #80004b;
  display: grid;
  //grid-template-rows: 200px 175px 140px 445px;
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em;
  margin-bottom: 90px;

  @include screen(1300px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 215px 175px 375px 125px 175px 480px;
    //grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));;

    grid-gap: 40px;

  }

  @include screen(767px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));;

    //grid-template-rows: 215px 175px 375px 125px 175px 480px;
    //grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));;

    grid-gap: 20px;

  }

  .item {
    //overflow: hidden;
    //outline: 1px solid yellow;
    //margin: 0 0 10px 0;
    @include screen(767px) {
      grid-column-start: 1 !important;
      grid-column-end: 2 !important;

    }

  }

  .item_1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    //grid-row-end: 3;
    grid-column-end: 2;
    outline: 1px solid #afa;
    @include screen(1300px) {
      grid-row-end: 2;
    }

    @include screen(767px) {
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  .item_2 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    outline: 1px solid #aa0;
    @include screen(1300px) {
      //grid-row-end: 5;
      grid-column-start: 2;
      grid-column-end: 2;
    }

    @include screen(767px) {
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }

  .item_3 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
    outline: 1px solid #0aa;

    @include screen(1300px) {
      //grid-row-start: 3;
      grid-row-start: 2;
      grid-column-start: 1;
      //grid-row-end: 8;
      grid-row-end: 4;
      grid-column-end: 2;
    }

    @include screen(767px) {
      grid-row-start: 3;
      grid-row-end: 4;
    }
  }

  .item_4 {
    overflow: visible;

    //grid-row-start: 3;
    grid-row-start: 2;
    grid-column-start: 1;
    //grid-row-end: 9;
    grid-row-end: 5;
    grid-column-end: 2;
    outline: 1px solid #a00;
    @include screen(1300px) {
      //grid-row-start: 5;
      grid-row-start: 3;
      grid-column-start: 2;
      //grid-row-end: 10;
      grid-row-end: 6;
      grid-column-end: 3;
    }

    @include screen(767px) {
      grid-row-start: 4;
      grid-row-end: 5;
    }

  }

  .item_5 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    outline: 1px solid #00a;
    @include screen(1300px) {
      //grid-row-start: 8;
      grid-row-start: 4;
      grid-column-start: 1;
      //grid-row-end: 9;
      grid-row-end: 5;
      grid-column-end: 2;
    }

    @include screen(767px) {
      grid-row-start: 5;
      grid-row-end: 6;
    }
  }

  .item_6 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 4;
    outline: 1px solid #a0a;
    @include screen(1300px) {
      grid-row-start: 6;
      //grid-row-start: 10;
      grid-column-start: 1;
      grid-row-end: 7;
      //grid-row-end: 14;
      grid-column-end: 3;
    }

    @include screen(767px) {
      grid-row-start: 6;
      grid-row-end: 7;
    }
  }
}



//MOBILE NAV BTN

.ham {
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;
  display: none;

  @include screen(1023px){
    display: block;
  }

  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000000;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  .top {
    stroke-dasharray: 40 160;
  }

  .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }

  .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }

  &.active {
    transform: rotate(45deg);
    .top {
      stroke-dashoffset: -64px;
    }
    .middle {
      transform: rotate(90deg);
    }
    .bottom {
      stroke-dashoffset: -64px;
    }
  }
}


.main_footer{
  padding: 0 0 80px 0;
  .cnt{
    display: flex;
    justify-content: space-between;
    //background-color: #afa;
    @include screen(1300px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .footer_title{
      align-self: flex-end;
      width: 45%;
      position: relative;
      @include screen(1300px){
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;

      }

      &:after{
        z-index: 30;
        content:'';
        width: 200px;
        right: 20%;
        top: 50%;
        position: absolute;
        height: 2px;
        background-color: #000000;
        @include screen(1300px){
          right: 50%;
          transform: translateX(50%);
        }
      }
      h3{
        color: #000000;
        //background-color: #ffff96;
        font-size: 26px;
        display: inline-flex;
        font-weight: 400;
        padding-right: 20px;
        letter-spacing: 7.22px;
        text-transform: uppercase;
        position: relative;
        z-index: 50;
        @include screen(1300px){
          display: block;
          padding: 0 0 65px 0;
          //text-align: center;
          //width: 100%;
          //background-color: #faf;
       }
      }
    }
    .footer_contact_list{
      width: 55%;
      @include screen(1300px){
        width: 100%;
      }
      ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include screen(767px){
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }
    }
    .list_item{
      @include screen(767px){
        margin: 20px 0;
        padding: 0 20px;
      }
      a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        transition: opacity ease-in-out .3s;
        &:hover{
          opacity: .5;
        }
      }
      .icon{
        height: 55px;
        display: flex;
        align-items: center;
        margin-bottom: 35px;
         img{
           height: 100%;
         }
        @include screen(767px){
          height: 35px;
          outline: 1px solid red;
        }
      }
      span{
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 3.82px;
        text-transform: uppercase;
        color: #000000;
        @include screen(767px){
          font-size: 10px;
        }
      }
    }
  }
}