@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic,cyrillic-ext');
@import "reset";
@import "header";

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }
}

$white: #ffffff;



.cnt {
  max-width: 1170px;
  width: 100%;
  margin: auto;

  @include screen(1170px) {
    padding: 0 rem(20px);
  }

}

.cnt_full {
  width: 100%;
}


b {
  font-weight: 700;
}

img {
  max-width: 100%;
}

.cnt_main{
  background-color: #80004b;
 display: grid;
  //grid-template-rows: 190px 190px 125px 440px;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
  //width: 100%;
  min-height: 1000px;
  outline: 1px solid red;
  grid-gap: 30px;
  margin-bottom: 150px;
  @include screen(1024px){
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, 1fr);
    min-height: 1600px;
    grid-gap: 0;

  }
 /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;*/

  .item{

    outline: 1px solid yellow;
  }
  .item_1{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    background-color: #afa;

  }
  .item_2{
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    background-color: #aa0;
    @include screen(1024px){
      grid-row-end: 5;
      grid-column-end: 2;
    }
  }
  .item_3{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
    background-color: #0aa;

    @include screen(1024px){
      grid-row-start: 3;
      grid-column-start: 1;
      grid-row-end: 8;
      grid-column-end: 2;
    }
  }
  .item_4{
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 9;
    grid-column-end: 2;
    background-color: #a00;
    @include screen(1024px){
      grid-row-start: 5;
      grid-column-start: 2;
      grid-row-end: 10;
      grid-column-end: 3;
    }

  }
  .item_5{
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 4;
    grid-column-end: 3;
    background-color: #00a;
    @include screen(1024px){
      grid-row-start: 8;
      grid-column-start: 1;
      grid-row-end: 9;
      grid-column-end: 2;
    }
  }
  .item_6{
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 9;
    grid-column-end: 4;
    background-color: #a0a;
    @include screen(1024px){
      grid-row-start: 10;
      grid-column-start: 1;
      grid-row-end: 14;
      grid-column-end: 3;
    }
  }
}

