$light_grey: #d2d2d2;
$warm-grey: #959595;
$black: #363636;
$black-two: #111111;
$greyish-brown: #555555;
$black-three: #1a1a1a;
$black-four: #272626;
$brick: #aa281a;
$rusty-red: #a92415;
$white: #efefef;
$black-five: #222222;
$black-six: #191919;
$red-brown: #9f1818;
$black-seven: #2e2e2e;
$white-two: #f4f4f4;
$black-eight: #252525;
$white-three: #e7e7e7;
$white-four: #e6e6e6;
$warm-grey-two: #7e7e7e;
$white-five: #d7d7d7;
$brick-two: #ab2a1d;
$white-six: #f7f7f7;
$white-seven: #dfdfdf;
$white-eight: #e1e1e1;
$red-brown-two: #8e2511;
$greyish-brown-two: #515151;
$white-nine: #e4e4e4;
$white-ten: #e2e2e2;
$white-eleven: #f5f5f5;
$greyish: #b4b4b4;