@import 'common';

.g-- {
  &top-header {
    background-color: $black;
    @media screen and (max-width: 840px) {
      display: none;
    }
      .g--cont {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      .g--header-itm {
        display: flex;
        align-items: center;
      }
      .g--mail {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        width: auto;
        font-weight: 300;

        .g--icon {
          margin-right: 10px;
          width: 30px;
          height: 30px;
          display: block;
          background-color: #cdcdcd;
        }
      }
      .g--call-back {
        @extend .g--mail;
        margin-left: 30px;
      }
      .g--phone {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
      }
      .g--work-time {
        color: #fff;
      }
    }
  }
  &bottom-header {
    background-color: #ffffff;
    .g--nav{
      display: block;
    }
    .g--main-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .g--itm {
        display: block;
        a {
          font-size: 22px;
          line-height: 1.59;
          letter-spacing: 0.1px;
          text-align: center;
          color: $black-five;
          text-decoration: none;
          text-transform: uppercase;
          transition: color ease-in-out .3s;
          &:hover {
            color: $rusty-red;
          }
        }
        .g--logo {
          width: 85px;
          height: 85px;
          background-color: #000077;
          display: block;
        }
        .g--order-service {
          max-width: 260px;
          padding: 0 40px;
          width: 100%;
          height: 50px;
          line-height: 50px;
          text-transform: uppercase;
          border-radius: 10px;
          background-color: $rusty-red;
          border: 1px solid $rusty-red;
          font-size: 18px;
          letter-spacing: 0.1px;
          text-align: center;
          color: #fff;
          display: block;
          transition: all ease-in-out .3s;
          &:hover {
            background-color: #fff;
            color: $rusty-red;
          }
        }
      }
    }
    .g--mob-nav {
      display: none;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      .g--mob-logo{
        width: 35px;
        height: 35px;
        background-color: #000077;
        display: block;
      }
      .g--mob-btns{
        display: flex;
        align-items: center;
        li{
          margin-left: 15px;
        }
        .g--icon{
          width: 35px;
          height: 35px;
          display: block;
          background-color: #0000dd;
        }
      }
    }
    @media screen and (max-width: 840px) {
      .g--nav{
        display: none;
      }
      .g--mob-nav{
        display: flex;
      }
    }
  }
}
