@import 'common';

.g-- {

  &top-header {
    background-color: $black;
    .g--cont {
      padding: 15px 0;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      .g--header-itm {
        display: flex;
        align-items: center;
      }
      .g--mail {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        width: auto;
        font-weight: 300;

        .g--icon {
          margin-right: 10px;
          width: 30px;
          height: 30px;
          display: block;
          background-color: #cdcdcd;
        }
      }
      .g--call-back {
        @extend .g--mail;
        margin-left: 30px;
      }
      .g--phone {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
      }
      .g--work-time {
        color: #fff;
      }
    }
  }
  &bottom-header {
    background-color: #ffffff;
    .g--main-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .g--itm {
        display: block;
        a{
          font-size: 22px;
          line-height: 1.59;
          letter-spacing: 0.1px;
          text-align: center;
          color: $black-five;
          text-decoration: none;
          text-transform: uppercase;
        }
        .g--logo {
          width: 85px;
          height: 85px;
          background-color: #000077;
          display: block;
        }
        .g--order-service {
          max-width: 260px;
          padding: 0 40px;
          width: 100%;
          height: 50px;
          line-height: 50px;
          text-transform: uppercase;
          border-radius: 10px;
          background-color: $rusty-red;
          font-size: 20px;
          letter-spacing: 0.1px;
          text-align: center;
          color: #fff;
          display: block;
        }
      }
    }

  }
}
