@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic,cyrillic-ext');
@import "reset";
@import "header";

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  @include screen(500px){
    font-size: 14px;
  }
  * {
    box-sizing: border-box;
  }
}

$white: #ffffff;

.cnt {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  //outline: 1px solid red;
  @include screen(1170px) {
    padding: 0 rem(20px);
  }

}

.cnt_full {
  width: 100%;
}

.row {
  display: flex;
}

b {
  font-weight: 700;
}

.ttl {
  font-size: rem(23px);
  font-weight: 700;
  color: #555555;
  text-transform: uppercase;
  padding: 0 rem(20px);
  background-color: #fff;
  position: relative;
  z-index: 5;

  @include screen(980px) {
    margin-bottom: rem(20px);
  }

}

.line__cnt {
  position: relative;
  padding: rem(50px) 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    z-index: 1;
    @include screen(980px) {
      left: 20px;
      right: 20px;
      top: calc(50% + 20px);
    }

    @include screen(700px){
      display: none;
    }
  }
}

.icc {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  //outline: 1px solid pink;
}

.main_blk {
  height: 650px;
  background-color: #000000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../img/png/kendowarior.png);
  display: flex;
  align-items: flex-end;

  @include screen(700px){
    height: 500px;
  }
  .descr_blk {
    margin-bottom: rem(30px);
    width: 100%;
    background-color: rgba(188, 50, 44, 0.7);
    padding: rem(20px);

    .cnt {
      display: flex;

      @include screen(700px){
        flex-direction: column;
      }

      .main__ttl {
        width: 43%;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #f0f0f0;
        font-size: 39px;
        text-align: right;
        padding-right: rem(10px);


        @include screen(768px) {
          font-size: 24px;
        }

        @include screen(700px){
          width: 100%;
          text-align: left;
          font-size: 20px;
        }
        span {
          font-weight: 500;
        }
      }

      .main__txt {
        width: 57%;
        font-size: rem(19px);
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.58;
        letter-spacing: normal;
        color: #f0f0f0;
        @include screen(700px){
          width: 100%;
          font-size: rem(16px);
          line-height: 1.2;
        }
      }
    }
  }
}

.about_blk {
  overflow: hidden;
  padding: rem(50px) 0;

  .line__cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include screen(980px) {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }



    .list__blk {
      display: flex;


      @include screen(700px){
        flex-wrap: wrap;
        justify-content: center;
      }
      li {
        padding: rem(10px) rem(20px);
        font-size: rem(17px);
        position: relative;
        z-index: 5;
        margin-right: rem(30px);
        background-color: #8c5e28;
        color: #ffffff;

        @include screen(980px) {
          margin: 0 rem(5px);
        }
        @include screen(700px){
          margin: rem(5px);
          max-width: 200px;
          width: 100%;
          text-align: center;
        }


        &:first-of-type {
          background-color: #8c2856;
        }

        &:nth-of-type(2) {
          background-color: #28888c;
        }

        &:nth-of-type(3) {
          background-color: #8c2c28;
        }
      }
    }
  }

  @include screen(768px) {
    .cnt {
      flex-direction: column-reverse;
    }
  }

  .pic__about {
    width: 35%;
    position: relative;
    //outline: 1px solid green;

    @include screen(768px) {
      width: 100%;
    }

    img {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      //outline: 1px solid red;
      width: 250%;
      @include screen(768px) {
        position: static;
        max-width: 700px;
        width: 100%;
        transform: none;
      }

    }
  }

  .txt__about {
    width: 65%;
    padding-left: rem(50px);
    //outline: 1px solid green;
    //padding-right: ;
    @include screen(768px) {
      width: 100%;
      padding-left: 0;
    }

    h3 {
      font-size: rem(33px);
      font-weight: 300;
      color: #555555;
    }

    p {
      font-size: rem(19px);
      font-weight: 300;
      line-height: 1.58;
      color: #16222a;
      margin-bottom: rem(10px);

      @include screen(500px){
       font-size: rem(16px);
        line-height: 1.2;
      }
    }
  }
}

.practice_blk {
  .line__cnt {
    display: flex;
    justify-content: center;
    align-items: center;

    @include screen(768px) {
      &:before {
        display: none;
      }
    }
  }


  .bg__blk {
    background-image: url(../img/png/jap-min.png);
    background-color: #f3ebea;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 170% 50%;
    @include screen(700px){
      background-size: 200% ;
      background-position: bottom left;
    }

    @include screen(768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .list__blk {
    margin: 0 -10px 0 -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    @include screen(768px) {
      margin: 0;
    }

    .item {
      width: calc(100% / 3);
      cursor: pointer;
      height: 370px;
      position: relative;
      border: 10px solid #fff;
      text-align: center;


      @include screen(768px) {
        height: 300px;
        border-width: 1px;
      }

      @include screen(700px){
        width: 50%;
      }

      @include screen(375px){
        width: 100%;
      }

      &:hover {
        .item__l_one {
          opacity: 0;
        }

        .item__l_two {
          opacity: 1;
          background-color: rgba($red, .8);
        }
      }

      .item__l_one {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: rem(20px);
        color: #16222a;
        transition: background-color, opacity ease-in-out .4s;
      }

      .item__l_two {
        @extend .item__l_one;
        color: #fff;
        opacity: 0;
      }
    }
  }
}


.team_blk {
  .line__cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include screen(980px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .list__blk {
      //outline: 1px solid green;
      display: flex;

      @include screen(700px){
        flex-wrap: wrap;
        justify-content: center;
      }

      li {
        padding: rem(10px) rem(20px);
        font-size: rem(17px);
        position: relative;
        z-index: 5;
        margin-left: rem(30px);
        background-color: #8c5e28;
        color: #ffffff;
        @include screen(980px) {
          margin: 0 rem(5px);
        }

        @include screen(700px){
          margin: rem(5px);
          max-width: 200px;
          width: 100%;
          text-align: center;
        }

        &:first-of-type {
          background-color: #8c2c28;
        }

        &:nth-of-type(2) {
          background-color: #28888c;
        }

        &:nth-of-type(3) {
          background-color: #8c2856;
        }
      }
    }
  }

  .bg__blk {
    padding: rem(20px) 0;
    background-image: url(../img/png/boat-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include screen(768px) {
      background-image: none;
      background-color: #000;
    }


    .cnt {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .txt__team {
      padding: rem(30px) rem(50px);
      width: 65%;
      background-color: $red;
      color: #fff;

      @include screen(768px) {
        width: 100%;
      }

      @include screen(500px){
        padding: rem(20px);
      }



      h3 {
        font-size: rem(33px);
        margin-bottom: rem(20px);
        font-weight: 300;
        color: #f0f0f0;

        @include screen(500px){
          font-size: rem(26px);
        }
      }

      p {
        font-size: rem(19px);
        font-weight: 300;
        margin-bottom: rem(15px);
        line-height: 1.58;
        color: #f0f0f0;
        @include screen(500px){
          font-size: 16px;
          line-height: 1.2;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .slider__blk {
    //background-color: #cdcdcd;
    position: relative;
    padding: rem(50px) 0;

    .swiper-container {
      width: 80%;
      //outline: 2px dashed red;
    }

    .swiper-slide {
      display: flex;
      justify-content: space-between;
    }

    .slide__pic {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include screen(500px){
        display: none;
      }
      img {
        max-width: 100%;
      }
    }

    .slide__desc {
      width: 78%;
      display: flex;
      align-items: center;
      background-color: #f3ebea;
      padding: rem(25px) rem(15px);

      @include screen(768px) {
        flex-direction: column;
        padding: rem(15px) rem(10px);
      }

      @include screen(500px){
        width: 100%;
      }

      .txt {
        width: 55%;
        position: relative;
        @include screen(768px) {
          width: 100%;
        }

        &:after {
          content: '';
          display: block;
          width: 40%;
          height: 3px;
          background-color: #8c2856;
          position: absolute;
          bottom: -25px;
          left: 0;

          @include screen(768px) {

            bottom: -10px;
          }
        }

        h4 {

          font-size: rem(29px);
          line-height: 0.93;
          color: #8c2856;
          margin-bottom: rem(20px);
        }

        p {
          white-space: pre-line;
          font-size: rem(19px);

        }
      }

      .contact {
        width: 45%;


        @include screen(768px) {
          width: 100%;
        }

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #16222a;
          font-size: rem(19px);
          font-weight: 300;

          &:nth-of-type(1) {
            margin: rem(15px) 0;
          }

          i {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            //outline: 1px solid green;

          }
        }
      }
    }

    .swiper-button-next2 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      cursor: pointer;
      &:focus{
        outline: 0;
      }

      @include screen(768px) {
        right: 10px;
      }
    }

    .swiper-button-prev2 {
      @extend .swiper-button-next2;
      right: auto;
      left: 0;
      @include screen(768px) {
        left: 10px;
      }
    }
  }
}


.prescenter_blk {
  background: linear-gradient(
                  rgba(#fff, .7),
                  rgba(#fff, .7)
  ), url(../img/png/press_center-min.png);
  background-size: cover;

  .line__cnt_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: rem(50px) 0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: auto;
      width: 40%;
      height: 2px;
      background-color: $red;
      z-index: 1;
      @include screen(768px){
        width: 35%;
      }
      @include screen(500px){
        width: 25%;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: auto;
      right: 0;
      width: 40%;
      height: 2px;
      background-color: $red;
      z-index: 1;
      @include screen(768px){
        width: 35%;
      }
      @include screen(500px){
        width: 25%;
      }
    }

    .ttl_bg {
      display: block;
      font-size: rem(23px);
      font-weight: 700;
      color: #555555;
      text-transform: uppercase;
      padding: 0 rem(20px);
    }
  }

  .article__list {
    display: flex;
    flex-wrap: wrap;
    @include screen(500px){
      flex-direction: column;

    }
    .item {
      width: 50%;
      padding: rem(20px) rem(70px);
      position: relative;

      @include screen(768px) {
        padding: rem(10px) rem(30px);

      }

      @include screen(500px){
        width: 100%;
        padding: rem(10px);
      }


      &:first-of-type {
        &:before {
          content: '';
          display: block;
          width: 2px;
          height: 70%;
          position: absolute;
          top: 0;
          right: 0;
          background-color: #bc322c;
          @include screen(500px){
            display: none;
          }
        }
      }

      p {
        font-size: rem(19px);
        line-height: 1.42;

        color: #16222a;

        &:first-of-type {
          margin-bottom: rem(10px);
          font-weight: 300;
        }
      }
    }

    .foot {
      margin-top: rem(50px);
      border-top: 1px solid rgba($red, .2);
      padding: rem(35px) 0;
      width: 100%;
      text-align: center;

      a {
        font-size: rem(21px);
        text-decoration: none;
        font-weight: 300;
        color: #0070c9;
      }
    ;
    }
  }

}

.contacts_blk {
  background-color: #2d2d2d;

  .line__cnt_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: rem(50px) 0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: auto;
      width: 40%;
      height: 2px;
      background-color: $red;
      z-index: 1;
      @include screen(700px){
        width: 30%;
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: auto;
      right: 0;
      width: 40%;
      height: 2px;
      background-color: $red;
      z-index: 1;
      @include screen(700px){
        width: 30%;
      }
    }

    .ttl_bg {
      display: block;
      font-size: rem(23px);
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      padding: 0 rem(20px);
    }
  }

  .article__list {
    display: flex;
    flex-wrap: wrap;

    .item {
      width: 50%;
      padding: rem(50px) rem(20px);
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @include screen(768px) {
        width: 100%;
        .logo {
          display: none;

        }
      }

      @include screen(500px){
        padding: rem(20px) 0;
      }
      &:first-of-type {
        @include screen(768px) {
          display: none;
        }

        &:before {
          content: '';
          display: block;
          width: 2px;
          height: 70%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          background-color: #bc322c;
        }
      }

      li {
        &:nth-of-type(1) {
          a {
            font-size: rem(39px);
            line-height: 0.92;
            @include screen(500px){
              font-size: rem(25px);
            }
          }
        }

        &:nth-of-type(2) {
          margin: rem(20px) 0;
        }

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #fff;
          font-size: rem(23px);
          line-height: 1.35;

          @include screen(500px){
            font-size: 18px;
          }

          i {
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: rem(20px);

            @include screen(500px){
              width: 35px;
            }
            img {
              height: 100%;
              max-height: 70px;
              @include screen(500px){
                max-width: 35px;
              }
            }
          }
        }
      }
    }
  }
}


.footer {
  .footer__top {
    background-color: #000;
    padding: rem(30px) 0;

    .foot_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include screen(980px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }

      ul {
        display: flex;
        align-items: center;
        @include screen(768px) {
          margin: rem(20px) 0;
        }

        &:first-of-type{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        &.left {
          li {
            margin-right: rem(30px);
          }
        }

        &.right {
          li {
            margin-left: rem(30px);
            @include screen(500px){
              margin: 0 rem(10px);
            }
          }
        }

        a {
          font-size: rem(19px);
          text-decoration: none;
          line-height: 1.89;
          color: #ffffff;
        }

        img {
          display: block;
        }
      }

    }

  }

  .footer__bottom {
    padding: rem(30px) 0;

    .cnt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include screen(700px){
        flex-direction: column;
      }
      a {
        color: #000;
        display: inline-block;
        padding: rem(10px);
        font-weight: 500;
        @include screen(700px){
          margin: rem(20px);
        }
        @include screen(700px){
          margin: rem(10px) rem(5px);
        }

        &:last-of-type {
          margin-left: rem(20px);
          text-decoration: none;
          background-color: rgba(188, 50, 44, 0.7);;
          color: #fff;
        }
      }
    }

  }
}